<div class="container-servicos">
    <h1>Meus serviços</h1>
    <div class="servicos">
        <div class="servico-card">
            <img src="/assets/Imagens/carreira.png">
            <h1 class="ti">PALESTRA</h1>
            <p class="pa">Essa palestra é um convite para que você dê o primeiro passo em direção a uma vida mais leve e plena. Estou aqui para te guiar, compartilhandoferramentas, estratégias e insights poderosos. 
                Vamos juntos nessajornadade crescimento e conquista.</p>
        </div>

        <div class="servico-card">
            <img src="/assets/Imagens/Saude.png">
            <h1>ATENDIMENTO EMERGENCIAL</h1>
            <P><span>Help Emergencial: Lidando melhor em Momentos Desafiadores</span></P>
            <p>O Help Emergencial oferece suporte imediato para aqueles que estão passando por momentos de desequilíbrio e necessitamde auxílio urgente.
             Se você está enfrentando uma situação difícil e não está conseguindo lidar, estamos aqui para ajudar</p>
             
            </div>

        <div class="servico-card">
            <img src="/assets/Imagens/bemEstar.png">
            <h1>PSICOTERAPIA</h1>
             <p>Psicoterapia: Descubra-se e Construa uma Vida Leve e Plena!</p>
             <p>Você, que busca uma transformação significativa em suavida, a Psicoterapia é o caminho para se libertar das dores que te limitam e alcançar uma vida plena e autêntica. Nessa jornada de autoexploração, vamos mergulhar nas profundezas da sua história, descobrindo pontos essenciais que moldam sua vida. 
                É hora de encontrar o antídoto para suas angústias e viver com plenitude.</p>
        </div>

        <div class="servico-card">
            <img src="/assets/Imagens/Vida.png">
            <h1>Serviço de Atendimento via chat (WhatsApp)</h1>
             <p>Estou pronta para te escutar, compreender suas preocupações efornecer orientações práticas para que você possa superar essasituação. Não importa o desafio que você esteja enfrentando, estou aqui paraoferecer um auxílio personalizado e eficaz.</p>
             <button><a href="http://wa.me/557187231248">Atendimento 24h via chat - Whatsapp</a></button>
        </div>


       
    </div>
</div>