<div class="banner-dois-container">

    <div class="Proposta">
        <h1>Saiba mais sobre meu trabalho</h1>
        <p id="P-pag">Compreenda sua ansiedade e viva com leveza.</p>
        <p>Você já parou para refletir sobre quanto busca a perfeição e acaba não aproveitando o momento presente porque
            sua mente está sempre acelerada? Já percebeu que sua respiração é curta, como se tivesse esquecido como
            respirar de forma tranquila por viver em constante correria?
            Esses aspectos revelam que compreender sua ansiedade é o primeiro passo para viver uma vida com leveza! Eu
            sei que não acontece da noite para o dia, mas é possível.</p>
        <p>Meu nome é Tatiane Lisboa, e meu propósito é te ajudar a viver a vida com leveza.</p>  
        <p>Quando não nos conhecemos verdadeiramente, não compreendemos o motivo por trás das nossas emoções. 
            Ao negligenciarmos a nossa história, perdemos a oportunidade de entender o nosso funcionamento, e é assim que os problemas e angústias começam a surgir, sem que tenhamos o antídoto para resolvê-los.</p>
        <p>Vamos explorar juntos alguns pontos que descobrimos ao mergulhar nesse oceano da história de cada pessoa. 
            <span>Vamos descobrir o que podemos encontrar na sua?</span></p>      
    </div>

    <div class="sobre-mim">
      <h1>Sobre mim</h1>
      <p>Sou Tatiane Lisboa, filha, esposa, mãe, tenho como estilo de vida o cuidado com o corpo, a alma e o espírito, psicóloga de formação e atuo como psicoterapeuta ajudando as pessoas compreenderem sua ansiedade e viver com leveza.</p>
      <p>Já sentiu o coração acelerar e a mente transbordar de pensamentos?</p>
      <p>Eu também já passei por isso. Mas descobri que é possível transformar a ansiedade em força e leveza.</p>
      <p>Depois de vivenciar crises de pânico após gatilhos provenientes de um ambiente disfuncional, e buscar ajuda profissional, encontrei o caminhopara compreender minha história e desvendar meus padrões de comportamento. Ao me conectar com cada história de meus pacientes, percebi que podia ajudar de forma única, pois conhecia na pele os sintomas da ansiedade.</p>
      <p>Compreender nossos gatilhos e dar um novo significado à nossa jornada é o ponto de partida para viver com leveza. E é exatamente isso que venho fazendo, contribuindo para a transformação de pessoas.</p>   
      <p>Imagine viver sem o peso da ansiedade, desfrutando de cada momento com tranquilidade. É possível! E eu estou aqui para te acompanhar nessajornada de autoconhecimento e transformação.</p>
      <p>Venha descobrir como é possível recomeçar, acolher sua história e viver
        com mais leveza. Juntos, <span>vamos encontrar o equilíbrio emocional que você merece. Vamos começar?</span></p>  
    </div>


</div>