<div class="container-banner">
    <div class="image">
        <img src="/assets/Imagens/foto1.jpeg">
    </div>
    <div class="sobre">
    <h1 class="element-animate">Tatiane Lisboa</h1>
    <h2 class="element-animate">Psicoterapeuta</h2>
    <p class="element-animate">Olá! Eu sou Tatiane Lisboa. Psicóloga formada pela unime. Especializada em
        <strong>Terapia Cognitivo
            Comportamental.</strong>
    </p>
    <p class="element-animate">
        Me dedico a ajudar pessoas a lidarem com suas emoções, compreenderem o motivo de estarem no piloto
        automático e, assim, identificar e escolher comportar-se de forma assertiva, presente e, acima de tudo, ter uma
        vida mais leve.
        Meu propósito é te ajudar a viver a vida com leveza.<br>
        <strong>Vamos juntos nessa jornada?</strong>
    </p>
    <h3 class="element-animate">Veja mais sobre meu trabalho nas redes socias :</h3>
    <div class="icones">
        <a><img class="element-animate" src="/assets/icones/facebook.png"></a>
        <a href="https://www.instagram.com/tatianelisboa.psi"><img class="element-animate" src="/assets/icones/instagram.png"></a>
        <a href="https://br.linkedin.com/in/tatiane-lisboa-1833b610b"><img class="element-animate" src="/assets/icones/linkedin.png"></a>
    </div>
</div>
</div>